<div class="row">
  <div class="large-12 columns descr">
    <h1 class="centra charT">About</h1>

      <p>
        Il tuo negozio online di fiducia mirato all'acquisto di prodotti: vegetali
        biologici e  gastronomici. La nostra infinità di prodotti deriva "direttamente" dalla terra e arriva
        "direttamente" sulla tua tavola, con <strong>Spedizione assolutamente gratuità</strong>.
        FARMLAND e leader nella vendità di prodotti tipici nati dalle mani dell'esperienza
        e accompagnati da approfondite informazioni al riguardo. L'enogastronomia 
        è il nostro forte, vi offriamo infatti, prodotti che possono allietare le vostre 
        giornate con un ampio assortimento di: vini pregiati, oli e molte altre idee.
        Consegniamo in 24/48 ore in tutta Italia, cerchiamo di offrire un buon servizio
        per accontentare chi ci ha preferiti e, aspettiamo... <br />
	<strong><h3 class="centra">UN TUO ORDINE<h3></strong> 
      </p> 

  </div>
</div>
