<div class="row">
  <div class="large-12 columns">
    <h1 class="centra charT">Help</h1>
    <p>Per qualsiasi aiuto, suggerimento, segnalazione ed altro non esitate a contattarci 
       <%= mail_to 'farmland.sv@gmail.com','FARMLAND' %>
    </p>
  </div>
</div>
