<div class="row">
  <div class="large-12 columns">
    <h1 class="centra charT">Delivery</h1>
    <div class="large-4 columns centra">
      <%= image_tag "/system/image/free.png" %>
    </div>
    <div class="large-8 columns">
      <fieldset class="panel">
        <legend><h4>Perfavore insersci i dettagli della spedizione.</h4></legend>
        <%= render 'form' %>
      </fieldset>
    </div>
  </div>
</div>
