/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require_tree .
 */

@font-face {
  font-family: first;
  src: url(  /system/font/3.ttf  );				
}

@font-face {
  font-family: second;
  src: url(  /system/font/5.ttf  );				
}

.char {
	font-family: "first", Arial, Helvetica, sans-serif;
        font-size: 42px;
        text-shadow:3px 7px 7px #423b0b;
}

.charT {
	font-family: "second", Arial, Helvetica, sans-serif;
        font-size: 68px;
        text-shadow:3px 7px 7px #191e1f;
}

.centra {
	text-align: center;
	padding: 5.5px;
}

.imgtabs {
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-left-radius: 7px;
	border-bottom-right-radius: 7px;
        width: 100px;
	height: 100px;
}
