<div class="row">
  <div class="large-12 columns">
    
    <h1 class="centra charT">Editing Product</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @product, class: 'button radius expand' %>
    <%= link_to 'Back', managment_products_path, class: 'button radius expand' %>

  </div>
</div><!--div row-->
