<div class="row">
  <div class="large-12 columns">
    
    <h1>New Product</h1>

    <%= render 'form' %>

    <%= link_to 'Back', managment_path, class: 'button radius expand' %>

  </div>
</div><!--div row-->
